.dis {
  display: flex;
}

.photo {
  border-radius: 1000px;
  width: 100px;
}

.sfondo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

  background-color: rgb(34, 36, 36);
  color: white;
  box-shadow: 5px 5px 10px 2px white;
  width: 300px;
  height: 300px;
  border-bottom-right-radius: 90px;
  flex-direction: column;
}

body {
  background-color: rgb(34, 36, 36);
  margin: 0px;
}

.color {
  color: white;
}

.icon:hover::before {
  box-shadow: 5px 5px 10px 2px white;
}

.primo {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.just {
  justify-content: center;
}

.secondo {
  flex-direction: column;
}

h1 {
  text-align: center;
}

.cent {
  text-align: center;
}

.icon {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

.ma {
  margin-left: 20px;
  margin-right: 6px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
}
.wi {
  width: 60px;
}
.wi:hover {
  box-shadow: 5px 5px 10px 2px white;
}

.foo {
  background-color: rgb(34, 36, 36);
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px 10px white;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  list-style: none;
  margin-top: 0px;
  justify-content: center;
  flex-direction: column;
}
.m {
  display: flex;
  justify-content: space-between;
}

.spost::before {
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  .ma {
    margin-left: 10px;
  }
}
